<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>undefined
<script type="text/javascript" data-main="main.js" src="../lib/jquery.js?test=dadhasjkhdsakjdhakjhdjkdhajkdhjk&v=1426301383000&staticVersion=1426301383000"></script>undefined
<img src="../resources/img/banner1.png?v=1424941714000&staticVersion=1424941714000" /></head>
<link rel="stylesheet" href="../resources/css/app3.css?v=1427433919000&staticVersion=1427434060000" /><body>
<div ng-view></div>
</body>
</html>